<div>
	<h2 ng-cloak>Course Center Name: {{model.loggedCenter.name.firstName}} {{model.loggedCenter.name.middleName}} {{model.loggedCenter.name.lastName}}</h2>
	<h4>Courses List: </h4>
	<div class="row">
		<div class="col-4"> <h5>Name</h5> </div>
		<div class="col-3"> <h5>Level</h5> </div>
		<div class="col-2"> <h5>Created</h5> </div>
		<div class="col-1"> <h5>Edit</h5> </div>
		<div class="col-1"> <h5>Remove</h5> </div>
	</div>
	<hr>	
	<div class="row" ng-repeat="course in model.coursesList">
		<div class="col-4"> <h5 ng-cloak>{{course.name}}</h5> </div>
		<div class="col-3"> <h5 ng-cloak>{{course.level}}</h5> </div>
		<div class="col-2"> <h5 ng-cloak>{{course.created | date}}</h5> </div>
		<div class="col-1"> <h5><a href="#!/centerProfile/editCourse"><span class="fa fa-pencil-square-o" aria-hidden="true"></span></a></h5></div>
		<div class="col-1" ng-click="model.removeCourse(course.centerId, course._id)"> <h5><a href="" ><span class="fa fa-trash-o" aria-hidden="true"></span></a></h5> </div>



		<!-- for the future try the modal to make it work the problem with the below one that the modal disappear but the blur still on the screen -->
		<!-- Modal to confirm the remove of an course-->

		<!-- <div class="modal collapse" id="{{course.name}}">
		  <div class="modal-dialog" role="dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title">Confirm removing course</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		        <h5>Are your sure you want to remove the following course:</h5>
		        <div><p>{{course.name}}</p></div>
		        <div><p>{{course.centerId}}</p></div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-primary" ng-click="model.removeCourse(course.courseId)">Remove</button>
		        <button type="button" class="btn btn-secondary" data-dismiss="modal" >Cancel</button>
		      </div>
		    </div>
		  </div>
		</div> -->


	</div>
</div>
