
<!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg fixed-top" style="background-color: gold;">
      <div class="container">
        <a class="navbar-brand" href="index.html"><img class="menu-logo" src="./img/logo/ucmas-logo.jpg"> </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#!/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#!/allCourses">Courses</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#!/login" ng-show="!model.loggedAdmin">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="" ng-click="model.logout()" ng-show="model.loggedAdmin">Logout</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-success" href="#!/profile" ng-show="model.loggedAdmin">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#!/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#!/contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
<!-- /Navigation -->



<div class="container aws-margin10">
	<h1>Admin Page</h1>
	<br>
	<a href="" ng-click="model.getAllUsers()" class="btn btn-warning"> list of users</a>
	<a href="" ng-click="model.getallCourses()" class="btn btn-primary"> list of courses</a>
	<a href="" ng-click="model.getAllFeedbacks()" class="btn btn-warning"> list of feedbacks</a>
</div>

<br>
<br>

<!-- All Users -->
<div ng-show="model.users" >
	<table class="table table-responsive-sm table-hover">
		<thead class="table-primary">
			<tr>
				<th>Name</th>
				<th>Email</th>
				<th>User Type</th>
				<th>Center courses</th>
				<th>User Registered courses</th>
			</tr>
		</thead>
		<tbody >
			<tr ng-repeat="user in model.users">
				<td>{{user.name.firstName}} {{user.name.middleName}} {{user.name.lastName}}</td>
				<td>{{user.email}}</td>
				<td>{{user.userType}}</td>
				<td>
					<ul ng-repeat="course in user.courses">
						<li>{{course.name}}</li>
					</ul>
				</td>
				<td>
					<ul ng-repeat="rCourse in user.registeredCoursesList">
						<li>{{rCourse.name}}</li>
					</ul>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<!-- / All Users -->


<!-- All Courses -->
<div ng-show="model.courses" >
	<table class="table table-responsive-sm table-hover">
		<thead class="table-primary">
			<tr>
				<th>Name</th>
				<th>Level</th>
				<th>Center Name</th>
				<th>Start Date</th>
				<th>End Date</th>
				<th>Approved</th>
				<th>Special</th>
				<th>Update</th>
			</tr>
		</thead>
		<tbody >
			<tr ng-repeat="course in model.courses">
				<td>{{course.name}}</td>
				<td>{{course.level}}</td>
				<td>{{course.centerId.name.firstName}}</td>
				<td>{{course.startingDate | date}}</td>
				<td>{{course.expiryDate | date}}</td>
				<td> <input ng-model="course.approved" type="checkbox" name="approved"></td>
				<td> <input ng-model="course.special" type="checkbox" name="special"></td>
				<td> <a class="btn btn-primary" href="" ng-click="model.updateCourseByAdmin(course)">Update</a> </td>
			</tr>
		</tbody>
	</table>
</div>
<!-- / All Courses -->


<!-- All Feedbacks -->
<div ng-show="model.feedbacks" >
	<table class="table table-responsive-sm table-hover">
		<thead class="table-primary">
			<tr>
				<th>Name</th>
				<th>Course</th>
				<th>Date</th>
				<th>Feedback</th>
				<th>Approved?</th>
				<th>Confirm</th>
			</tr>
		</thead>
		<tbody >
			<tr ng-repeat="feedback in model.feedbacks">
				<td>{{feedback.userName}}</td>
				<td>{{feedback.courseName}}</td>
				<td>{{feedback.date | date}}</td>
				<td>{{feedback.feedback}}</td>
				<td>
					<input type="checkbox" name="approvedFeedback" ng-model="feedback.approved">
				</td>
				<td>
					<a class="btn btn-primary" href="" ng-click="model.updateFeedbackByAdmin(feedback)">Update</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<!-- / All Users -->
